.blogBlock {
  width: 100%;
  max-width: 440px;
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.07) 0 1px 1px, rgba(0, 0, 0, 0.07) 0 2px 2px, rgba(0, 0, 0, 0.07) 0 4px 4px, rgba(0, 0, 0, 0.07) 0 8px 8px, rgba(0, 0, 0, 0.07) 0 16px 16px;

  img {
    width: 100%;
    height: 330px;
    object-fit: cover;
    border-radius: 15px;
  }
  .blogBlock__info {
    padding: 25px 35px 50px 35px;
  }
}
.blogBlock__miniInfo {
  font-size: 20px;
  font-weight: 400;
  color: #30439F !important;
}
.blogBlock__title {
  font-size: 56px;
  font-weight: 450;
  color: #2C2C2C;
}
.blogBlock__description {
  font-size: 24px;
  font-weight: 400;
  color: #797689;
}
