.blog__block--Mobile{
  display: none !important;
}
.blogMobile {
  cursor: pointer;
  width: 100%;
  border-radius: 15px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.07) 0 1px 1px, rgba(0, 0, 0, 0.07) 0 2px 2px, rgba(0, 0, 0, 0.07) 0 4px 4px, rgba(0, 0, 0, 0.07) 0 8px 8px, rgba(0, 0, 0, 0.07) 0 16px 16px;
  .blogBlock {
    box-shadow: none;
  }
}
@media (max-width: 1090px) {
  .blog__block{
    display: none !important;
  }
  .blog__block--Mobile {
    display: flex !important;
    flex-direction: column;
  }
}