$text: #464646;
.header {
  font-size: 24px;
  font-weight: 450;
  position: fixed;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 80px;
  z-index: 1000;
  button {
    font-size: 27px;
  }
}
.nav__button {
  color: $text !important;
  text-decoration: none !important;
  cursor: pointer;
}
.nav__button--active {
  font-weight: 600;
}
.nav__button:hover {
  color: black !important;
  text-decoration: underline !important;
}
