.app {
  min-height: 100vh;
}

.containers__gap {
  gap: 100px;
}

.container {
  width: 100%;
  padding: 16px;
  display: flex;
  flex-direction: column;
  justify-self: center;
  gap: 50px;
}

.textDisplayNone {
  display: none;
}
@media (max-width: 1090px) {
  .bigTitle {
    font-size: 28px;
  }
  .footerDisplay {
    display: none !important;
  }
}
