$my-red: #9E1651;
$my-white: #ffffff;
$my-pink: #FFB7D6;
$my-blue: #30439F;
$theme-colors: (
        "primary": #84AFF9,
        "my-red": #9E1651,
);
.btn-primary {
  color: white !important;
  padding: 30px !important;
}
.btn-outline-primary:hover {
  color: white !important;
}
.form-control {
  font-size: 24px !important;
  font-weight: 450 !important;
  background-color: #F0F6FF !important;
  cursor: pointer !important;
  padding: 31px 35px !important;
  border: none !important;
  border-radius: 15px !important;
}
.bigTitle {
  color: $my-red;
  font-size: 70px;
  font-weight: 750;
  text-align: center;
}

.type1 {
  max-width: 1600px;
}

.type2 {
  max-width: 1400px;
}
.type3{
  max-width: 1300px;
}
.newBackground {
  background-color: $my-white;
}
.carousel {
}
.carousel-indicators {

  button {
    width: 17px !important;
    height: 17px !important;
    background-color: $my-pink !important;
    cursor: pointer !important;
  }
}
.carousel-item {
  background-color: #FFFFFF;
  border-radius: 50px;
  width: 100%;
  height: max-content;
  padding: 45px 70px;
  margin-bottom: 80px;
}
.carousel-indicators [data-bs-target] {
  border: none !important;
  border-radius: 50px !important;
}
.carousel-indicators .active {
  background-color: $my-red !important;
}
.carousel-control-prev {
  margin-left: -140px !important;
}
.carousel-control-prev-icon {
  background-image: url("assets/arrow.svg") !important;
}
.carousel-control-next {
  margin-right: -140px !important;
}
.carousel-control-next-icon {
  background-image: url("assets/arrow.svg") !important;
  rotate: 180deg !important;
}
@media (max-width: 1090px) {
  .carousel-control-prev, .carousel-control-next {
    display: none !important;
  }
}
@import "../node_modules/bootstrap/scss/bootstrap";
@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/mixins";